<a href="https://colab.research.google.com/github/HowkMii/Olympics-in-Tokyo/blob/main/Kaggle_Olympics_in_Tokyo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [15]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/drive/MyDrive/kaggle"

In [16]:
%cd "/content/drive/MyDrive/kaggle"

/content/drive/MyDrive/kaggle

In [18]:
!pip install --upgrade plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Collecting plotly
  Downloading plotly-5.5.0-py2.py3-none-any.whl (26.5 MB)
     |████████████████████████████████| 26.5 MB 1.7 MB/s
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-5.5.0 tenacity-8.0.1

In [19]:
!kaggle datasets download -d arjunprasadsarkhel/2021-olympics-in-tokyo
!unzip 2021-olympics-in-tokyo.zip

Downloading 2021-olympics-in-tokyo.zip to /content/drive/MyDrive/kaggle
  0% 0.00/348k [00:00<?, ?B/s]
100% 348k/348k [00:00<00:00, 5.57MB/s]
Archive:  2021-olympics-in-tokyo.zip
  inflating: Athletes.xlsx
  inflating: Coaches.xlsx
  inflating: EntriesGender.xlsx
  inflating: Medals.xlsx
  inflating: Teams.xlsx

In [20]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=26e8451c71d527ad71c7f5ec95171212fa944615d7e887bb6a96e0cbe3f26a07
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [22]:
import pyspark
spark=pyspark.sql.SparkSession(pyspark.SparkContext())
spark

In [27]:
import pandas as pd
def excel_to_csv(name):
  pd.read_excel(name + '.xlsx').to_csv(name + '.csv', sep=',',index=False)
excel_to_csv('Athletes')
excel_to_csv('Coaches')
excel_to_csv('Medals')
excel_to_csv('EntriesGender')
excel_to_csv('Teams')

In [28]:
athletes = pd.read_csv('Athletes.csv')
athletes.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball